- ccxt
- aiohttp
- cryptography
- streamlit>=1.36.0
- streamlit-authenticator==0.3.2
- watchdog
- plotly
- pycoingecko
- glom
- defillama
- statsmodels
- pandas_ta
- sqlalchemy
- pyyaml
- python-dotenv
- openpyxl